{
  "printWidth": 150,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "useTabs": false,
  "bracketSpacing": true,
  "proseWrap": "never",
  "quoteProps": "as-needed",
  "packageManager": "yarn",
  "vueIndentScriptAndStyle": false
}
